@import "variables";
@import "fonts";
@import "_breacpoints";


html, body{
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}